<div class="footer-section">
    <!-- Subscription Section -->
    <table class="following-infor subscription">
        <tr>
            <td rowspan="2" class="brand">
                <h1>PETOPIA</h1>
            </td>
            <td>
                <p>Enter your email to receive the latest promotion information from Petopia</p>
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" placeholder="Enter your email" />
            </td>
            <td>
                <input class="register-button" type="button" value="Register" />
            </td>
        </tr>
    </table>

    <!-- Information Section -->
    <table class="following-infor contact">
        <tr>
            <td>
                <h2>FOR FURTHER INFORMATION</h2>
            </td>
            <td colspan="2">
                <h2>GO TO</h2>
            </td>
            <td>
                <h2>CUSTOMER SUPPORT</h2>
            </td>
        </tr>
        <tr>
            <td>
                6/7 U Ghe Street, Quarter 2<br>
                Tam Phu Ward, City. Thu Duc, City. HCM<br>
                0896878929<br>
                hello&#64;petopia.com
            </td>
            <td>
                <a routerLink="/">Home</a><br>
                <a routerLink="/about-us">About us</a><br>
                <a routerLink="/products">Products</a>
            </td>
            <td>
                <a routerLink="/services">Services</a><br>
                <a routerLink="/plans">Plans</a><br>
                <a routerLink="/tips">Tips</a>
            </td>
            <td>
                <a routerLink="/privacy-policy">Privacy Policy</a><br>
                <a routerLink="/sales-returns">Sales and Return Policy</a><br>
                <a routerLink="/payment-policy">Payment Policy</a><br>
                <a routerLink="/delivery-policy">Delivery Policy</a>
            </td>
        </tr>
    </table>
</div>
