<div class="col-lg-12 d-flex justify-content-end mb-3">
    <button class="btn-color btn" (click)="goBack()">Back</button>
</div>

<div class="product-container d-flex">
    <div class="product-image">
        <img src="{{product.img}}" alt="Product Image" />
    </div>

    <div class="product-info ms-4">
        <div class="product-details">
            <div class="product-name">{{product.name}}</div>
        </div>
        <div class="actual-price">
            <div class="actual-price-value">{{product.price | currency: 'VND'}}</div>
        </div>
        <div class="size-selection mt-3">
            <div class="size-options d-flex justify-content-between">
                <div class="size-label">
                    <div class="size-value">Select Size</div>
                    <div class="size-value">Medium</div>
                </div>
                <div class="size-guide-link">Size guide</div>
            </div>
            <div class="option-container d-flex mt-2">
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
                <div class="size-option-container">
                    <div class="size-info-container">
                        <div class="size-dimension">134mm</div>
                        <div class="size-type">Medium</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="add-to-bag-container mt-4">
            <div class="add-to-bag-background"></div>
            <div class="add-to-bag-text" (click)="addToCart(product)">Add to Bag</div>
        </div>
    </div>
</div>

<div class="description-container mt-5">
    <div class="section-heading">
        <div class="heading-text">Description</div>
        <div class="divider"></div>
    </div>
    <div class="description-content">
        <p>{{product.des}}</p>
    </div>
</div>
