<div class="main-container">
    <div class="custom-width"></div>
    <div class="content-container">
      <div class="title">Choose the best for your pets</div>
      <div class="subtitle">From accessories to outfits, we have<br>everything you need.</div>
      <button class="button-container">
        <div class="button-text"><a href="catalog">View all</a></div>
      </button>
    </div>
  </div>
  
  <h1 class="product-category" style="color: #ffcc70;">Product Catalog</h1>
  <hr class="product-category" color="#e8e8e8" size="3px">
  
  <div class="container-category">
    <!-- Card 1 -->
    <div class="card">
      <div class="card-overlay"></div>
      <button class="label-container">
        <div class="label-content">See more</div>
      </button>
      <img src="./assets/images/mainproduct_img/image 2-1.png" alt="Product Image" class="product-image">
    </div>
  
    <!-- Card 2 -->
    <div class="card">
      <div class="card-overlay"></div>
      <button class="label-container">
        <div class="label-content">See more</div>
      </button>
      <img src="./assets/images/mainproduct_img/image 2-2.png" alt="Product Image" class="product-image">
    </div>
  
    <!-- Card 3 -->
    <div class="card">
      <div class="card-overlay"></div>
      <button class="label-container">
        <div class="label-content">See more</div>
      </button>
      <img src="./assets/images/mainproduct_img/image 2.png" alt="Product Image" class="product-image">
    </div>
  
    <!-- Card 4 -->
    <div class="card">
      <div class="card-overlay"></div>
      <button class="label-container">
        <div class="label-content">See more</div>
      </button>
      <img src="./assets/images/mainproduct_img/image11.png" alt="Product Image" class="product-image">
    </div>
  </div>
  
  <div class="icon-bar">
    <img src="assets/images/mainproduct_img/Icons-bar.png">
  </div>
  