<div class="login-container">
    <div class="login-form">
      <h2>Login to Your Account</h2>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
        </div>
        <div class="form-group forgot-pass">
          <a routerLink="/forgetpassword">Forgot password?</a>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div class="form-group">
          <button type="submit" (click)="login()">Login</button>
        </div>
        <div class="signup-link">
          Not a member? <a routerLink="/signup">Sign up Now</a>
        </div>
      </form>
    </div>
  </div>
  