<div class="main-container">
    <div class="header">
        <a routerLink=""><img class="logo-image" src="./assets/images/Home_img/Logo.png" alt="logo"/></a>
        <div class="brand-name">PETOPIA</div>
        <div class="search-bar">
            <input type="search" id="search-bar" placeholder="Search...">
        </div>
        <a routerLink="/cart"><img class="profile-image" src="./assets/images/Home_img/Giỏ hàng.png" alt="cart"/></a>
        <a routerLink="/login"><img class="cart-icon" src="./assets/images/Home_img/Account.png" alt="profile"/></a>
    </div>
    <nav class="navigation">
        <div class="nav-item"><a routerLink="/catalog">Products</a></div>
        <div class="nav-item"><a routerLink="/service">Services</a></div>
        <div class="nav-item"><a routerLink="/tips">Tips</a></div>
        <div class="nav-item"><a routerLink="/track-order">Orders</a></div>
        <div class="nav-item"><a routerLink="/about-us">About us</a></div>
    </nav>
</div>
