<section class="py-5">
    <div class="container">
      <ol class="breadcrumb ondark mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog Management</li>
      </ol>
    </div>
  </section>
  
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-4 mb-5">
        <div class="card shadow-effect" (click)="createBlog()">
          <div class="card-body text-center bg-color">
            <h2 class="text-center text-color">ADD NEW POST</h2>
            <p class="text-center text-white">Create a new content for Petopia's Blog</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card shadow-effect" (click)="editBlog()">
          <div class="card-body text-center bg-color">
            <h2 class="text-center text-color">EDIT POST</h2>
            <p class="text-center text-white">Make changes or delete posts for Petopia's Blog</p>
          </div>
        </div>
      </div>
    </div>
  </div>