<div class="col-lg-12 d-flex justify-content-end">
    <button class="btn-color" (click)="goBack()">Back</button>
</div>
<div class="service-container">
    <div class="service-image">
        <img src="{{service.img}}" alt="Service Image" />
    </div>
    <div class="description-container">
        <div class="section-heading">
            <div class="heading-text">Description</div>
            <div class="divider"></div>
        </div>
        <div class="description-content">
            <p>{{service.des}}</p>
        </div>
        <div class="service-info">
        <button class="add-to-bag" (click)="addToCart(service)" >Add to Bag</button>
        </div>
    </div>
    <div class="service-info">
        <div class="service-details">
            <div class="service-name">{{service.name}}</div>
        </div>
        <div class="actual-price">
            <div class="actual-price-value">{{service.price}} VND</div>
        </div>

    </div>
       